/*------------------  Fonts -----------------*/
@font-face {
    font-family: Vazir;
    src: url(../fonts/Vazir.eot) format('eot'),
    url(../fonts/Vazir.woff) format('woff'),
    url(../fonts/Vazir.ttf) format('truetype')
}
/*------------------  General -----------------*/
body,li,a{
    font-family: Vazir;
    font-size: 14px;
}
p,li{
    direction: rtl;
    text-align: right;
}

/*------------------  Header -----------------*/
.accordion a {
    text-align: right;
}
.mobMenu h1 a.menuBox {
    height: 26px;
}
.header-wrapper header .top-nav li {
    float: right;
}
.header-wrapper header .search-block input[type="text"] {
    float: right;
    text-align: right;
}
.header-wrapper header .search-block input[type="submit"] {
    float: left;
}
.header-wrapper header nav ul li {
    float: right;
}
.header-wrapper header .logo {
    margin: 15px 5px;
}
/*------------------  Banner -----------------*/
.banner-wrapper .banner-block .banner-slider, .banner-wrapper .banner-block .flexslider {
    float: right;
}
.banner-wrapper .banner-block .banner-add {
    float: left;
}

.content-wrapper .content-container .heading-block h1 {
    padding: 6px 5px 0px 0px;
    float: right;
}
/*------------------  Content -----------------*/
.jcarousel-prev-horizontal {
    left: 0;
}
.jcarousel-next-horizontal {
    left: 30px;
}
.content-wrapper .content-container .new-product-block .product-grid li .pro-content p {
    text-align: center;
}
.footer-wrapper footer .link-block ul {
    float: right;
}
/*------------------  Footer -----------------*/
.footer-wrapper footer .footer-bottom-block .bottom-links {
    float: right;
}
.footer-wrapper footer .footer-bottom-block .copyright-block {
    float: left;
    margin-left: 5px !important;
}
.footer-wrapper footer .footer-bottom-block .bottom-links li {
    float: right;
}
.footer-wrapper footer .link-block ul li {
    text-align: right;
}
.footer-wrapper footer .link-block ul.stay-connected-blcok .social-links {
    float: right;
}
.footer-wrapper footer .link-block ul.stay-connected-blcok .payment-block {
    float: left;
    margin-left: 5px !important;
}
.link-title a{
    margin-right: 5px;
}
.content-wrapper .content-container .news-letter-block h2 {
    float: right;
    margin: 0px 10px 0px 10px;
}
.content-wrapper .content-container .news-letter-block input[type="submit"], .form-button {
    font-size: 14px;
}
/*------------------  Contact -----------------*/
h1.page-title,
.contact-form-container{
    text-align: right;
}
.button-set .required {
    text-align: left;
}
.button-set .form-button {
    float: left;
}
.contact-form-container .form-fields li {
    float: right;
}
h1.page-title {
    font-size: 20px;
    font-family: Vazir;
}
.col-left .block .block-title {
    text-align: right;
}
.gmap{
    margin-top: 3px;
    margin-bottom: 13px;
}
/*------------------  About -----------------*/
.right-sidebar {
    float: left;
}
.col-main-left {
    float: right;
     margin-right: 5px;
}
.col-main-left h1.page-title {
    font-size: 20px;
}
.col-main-left .block-01 h4 {
    text-align: right;
    direction: rtl;
}