{% extends 'fixed.html' %}
{% load staticfiles %}
{% block title %}
<title>SHOP</title>
{% endblock %}
 {% block content %}
<!--Content Block-->
<section class="content-wrapper">
	<div class="content-container container">
		<div class="col-main-left">
			<h1 class="page-title">درباره فروشگاه ما</h1>
			<div class="about-banner"><img src="{% static 'images/640.jpg' %}" title="Image" alt="Image" /><div class="clear"></div></div>
			<div class="block-01">
				<h4>این متن آزمایشی است.</h4>
                <p>این متن آزمایشی است.این متن آزمایشی است.این متن آزمایشی است.این متن آزمایشی است.این متن آزمایشی است.این متن آزمایشی است.این متن آزمایشی است.این متن آزمایشی است.این متن آزمایشی است.این متن آزمایشی است.این متن آزمایشی است.این متن آزمایشی است.این متن آزمایشی است.این متن آزمایشی است.این متن آزمایشی است.این متن آزمایشی است.این متن آزمایشی است.این متن آزمایشی است.این متن آزمایشی است.این متن آزمایشی است.این متن آزمایشی است.این متن آزمایشی است.این متن آزمایشی است.این متن آزمایشی است.این متن آزمایشی است.این متن آزمایشی است.این متن آزمایشی است.این متن آزمایشی است.این متن آزمایشی است.v</p>
			</div>
			<div class="superquote">
<p>این متن آزمایشی است.این متن آزمایشی است.این متن آزمایشی است.این متن آزمایشی است.این متن آزمایشی است.این متن آزمایشی است.این متن آزمایشی است.این متن آزمایشی است.این متن آزمایشی است.این متن آزمایشی است.این متن آزمایشی است.این متن آزمایشی است.این متن آزمایشی است.این متن آزمایشی است.این متن آزمایشی است.این متن آزمایشی است.این متن آزمایشی است.این متن آزمایشی است.این متن آزمایشی است.این متن آزمایشی است.این متن آزمایشی است.این متن آزمایشی است.این متن آزمایشی است.این متن آزمایشی است.این متن آزمایشی است.این متن آزمایشی است.این متن آزمایشی است.</p>
            </div>
			<div class="block-01">
				<p>
این متن آزمایشی است.این متن آزمایشی است.این متن آزمایشی است.این متن آزمایشی است.این متن آزمایشی است.این متن آزمایشی است.این متن آزمایشی است.این متن آزمایشی است.این متن آزمایشی است.این متن آزمایشی است.این متن آزمایشی است.این متن آزمایشی است.این متن آزمایشی است.این متن آزمایشی است.این متن آزمایشی است.این متن آزمایشی است.این متن آزمایشی است.این متن آزمایشی است.این متن آزمایشی است.این متن آزمایشی است.این متن آزمایشی است.این متن آزمایشی است.این متن آزمایشی است.این متن آزمایشی است.این متن آزمایشی است.این متن آزمایشی است.این متن آزمایشی است.این متن آزمایشی است.				</p>
				<ul>
					<li>
						<strong>این متن آزمایشی است.</strong>
						<ul>
							<li>این متن آزمایشی است.</li>
							<li>این متن آزمایشی است.</li>
							<li>این متن آزمایشی است.</li>
							<li>این متن آزمایشی است.</li>
							<li>این متن آزمایشی است.</li>
							<li>این متن آزمایشی است.</li>
						</ul>
					</li>
					<li>
						<strong>این متن آزمایشی است.این متن آزمایشی است.</strong>
						<ul>
							<li>این متن آزمایشی است.</li>
							<li>این متن آزمایشی است.</li>
							<li>این متن آزمایشی است.</li>
						</ul>
					</li>
					<li>
						<strong>این متن آزمایشی است.</strong>
						<ul>
							<li>این متن آزمایشی است.این متن آزمایشی است.</li>
							<li>این متن آزمایشی است.این متن آزمایشی است.</li>
							<li>این متن آزمایشی است.این متن آزمایشی است.</li>
							<li>این متن آزمایشی است.این متن آزمایشی است.</li>
						</ul>
					</li>
				</ul>
			</div>
			
		</div>
		<aside class="right-sidebar">
			<div class="block widget-img">
				<a href="#" title=""><img src="{% static 'images/125.jpg' %}"></a>
				<a href="#" title=""><img src="{% static 'images/125.jpg' %}"></a>
				<a href="#" title=""><img src="{% static 'images/125.jpg' %}"></a>
				<a href="#" title=""><img src="{% static 'images/125.jpg' %}"></a>
			</div>
			<div class="block">
				<p>
					<strong>فروشگاه ما</strong>
					کیفیت را ضمانت می کند.
				</p>
				<ul>
					<li>این متن آزمایشی است.</li>
					<li>این متن آزمایشی است.</li>
					<li>این متن آزمایشی است.</li>
					<li>این متن آزمایشی است.</li>
					<li>این متن آزمایشی است.</li>
					<li>این متن آزمایشی است.</li>
					<li>این متن آزمایشی است.</li>
					<li>این متن آزمایشی است.</li>
				</ul>
			</div>
			<div class="block social-block">
				<span class='st_sharethis'></span>
                <span class='st_facebook'></span>
                <span class='st_amazon_wishlist'></span>
                <span class='st_delicious'></span>
                <span class='st_blogger'></span>
                <span class='st_googleplus'></span>
                <span class='st_twitter'></span>
                <span class='st_linkedin'></span>
                <span class='st_pinterest'></span>
                <span class='st_email'></span>
                <script type="text/javascript">var switchTo5x=false;</script>
				<script type="text/javascript" src="{% static '../../../w.sharethis.com/button/buttons.js' %}"></script>
				<script type="text/javascript">stLight.options({publisher: "20635c27-623e-4e91-8489-7537a83b882b"});</script>
			</div>
		</aside>
		<div class="clearfix"></div>
		<div class="news-letter-container">
			<div class="free-shipping-block">
                    <h1>حمل و نقل رایگان</h1>
                    <p>هدیه تعطیلات از طرف ما به شما!</p>
                  </div>
                  <div class="news-letter-block">
                    <h2>در خبرنامه ما عضو شوید</h2>
                    <input type="text" value="Enter email address" title="" />
                    <input type="submit" value="ثبت" title="ثبت" />
                  </div>
		</div>	
	</div>
</section>
</div>
{% endblock %}