{% extends 'fixed.html' %}
{% load staticfiles %}
{% block title %}
    <title>SHOP</title>
{% endblock %}
{% block content %}
    <!--Content Block-->
    <section class="content-wrapper">
        <div class="content-container container">
            <div class="col-left">
                <div class="block compare-block">
                    <div class="block-title">شماره های تماس</div>
                    <ul>
                        <li>دفتر مرکزی: 02166277944</li>
                        <li>فروشگاه: 02636662436</li>
                        <li>همراه: 09121697553</li>
                        <li>09123682852</li>
                    </ul>
                </div>
                <div class="block community-block">
                    <div class="block-title">آدرس</div>
                    <ul>
                        <li>دفتر مرکزی: تهران بزرگراه فتح خیابان خلیج فارس خیابان بهشتی پلاک 4 واحد 20</li>
                        <br/>
                        <br/>
                        <li>فروشگاه: کرج جاده ملارد نرسیده به ورودی فردیس روبه روی بانک ملی شعبه توانیر بین گلستان 64 و
                            66
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-main">
                <h1 class="page-title">تماس با ما</h1>
                <div class="contact-form-container">
                    <div class="form-title">فرم تماس</div>
                    <ul class="form-fields">
                        <li class="left">
                            <label>نام<em>*</em></label>
                            <input type="text"/>
                        </li>
                        <li class="left">
                            <label>ایمیل<em>*</em></label>
                            <input type="text"/>
                        </li>
                        <li class="left">
                            <label>شماره تماس</label>
                            <input type="text"/>
                        </li>
                        <li class="full-row">
                            <label>پیام<em>*</em></label>
                            <textarea></textarea>
                        </li>
                    </ul>
                    <div class="button-set">
                        <p class="required">* پر کردن فیلد الزامی است</p>
                        <button type="submit" class="form-button"><span>ارسال</span></button>
                    </div>
                </div>
            </div>
            <div class="col-main">
                <div class="contact-form-container">
                    <div class="form-title">دفتر مرکزی</div>
                    <div class="gmap">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3235.133628978478!2d50.964588315337956!3d35.82119698016185!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zMzXCsDQ5JzE2LjMiTiA1MMKwNTgnMDAuNCJF!5e0!3m2!1sen!2s!4v1513625437557"
                            width="100%" height="400" frameborder="0" style="border:0" allowfullscreen></iframe>
                    </div>
                    <div class="form-title">فروشگاه</div>
                    <div class="gmap">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3235.133628978478!2d50.964588315337956!3d35.82119698016185!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zMzXCsDQ5JzE2LjMiTiA1MMKwNTgnMDAuNCJF!5e0!3m2!1sen!2s!4v1513625437557"
                            width="100%" height="400" frameborder="0" style="border:0" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
            <div class="news-letter-container">
                <div class="free-shipping-block">
                    <h1>حمل و نقل رایگان</h1>
                    <p>هدیه تعطیلات از طرف ما به شما!</p>
                </div>
                <div class="news-letter-block">
                    <h2>در خبرنامه ما عضو شوید</h2>
                    <input type="text" value="Enter email address" title=""/>
                    <input type="submit" value="ثبت" title="ثبت"/>
                </div>
            </div>
        </div>
    </section>
    </div>
{% endblock %}