{% load staticfiles %}
<!doctype html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html lang="en">
<!--<![endif]-->
<head>
    <meta charset="utf-8">
    {% block title %}
        <title>SHOP</title>
    {% endblock %}

    <!--js-->
    <script src="{% static 'js/jquery-1.8.2.min.js' %}"></script>
    <script src="{% static 'js/common.js' %}"></script>
    <script src="{% static 'js/jquery.easing.1.3.js' %}"></script>
    <script src="{% static 'js/ddsmoothmenu.js' %}"></script>
    <script src="{% static 'js/jquery.flexslider.js' %}"></script>
    <script src="{% static 'js/jquery.elastislide.js' %}"></script>
    <script src="{% static 'js/jquery.jcarousel.min.js' %}"></script>
    <script src="{% static 'js/jquery.accordion.js' %}"></script>
    <script src="{% static 'js/light_box.js' %}"></script>
    <script type="text/javascript">$(document).ready(function () {
        $(".inline").colorbox({inline: true, width: "50%"});
    });</script>
    <!--end js-->

    <!-- Mobile Specific Metas ================================================== -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- CSS ================================================== -->

    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/colors.css' %}">
    <link rel="stylesheet" href="{% static 'css/skeleton.css' %}">
    <link rel="stylesheet" href="{% static 'css/layout.css' %}">
    <link rel="stylesheet" href="{% static 'css/ddsmoothmenu.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/elastislide.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/home_flexslider.css' %}"/>

    <link rel="stylesheet" href="{% static 'css/light_box.css' %}"/>
    <link href="../../../html5shiv.googlecode.com/svn/trunk/html5.js' %">
    <link rel="stylesheet" href="{% static 'css/custom.css' %}">

    <!--[if IE]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->

    <!--[if lt IE 9]>
			<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->

</head>
<body>
<div class="mainContainer sixteen container">
    <!--Header Block-->
    <div class="header-wrapper">
        <header class="container">
            <div class="head-right">
                <ul class="top-nav">
                    <li class=""><a href="#" title="">ثبت نام کنید</a></li>
                    <li class="my-wishlist"><a href="#" title="">وارد شوید</a></li>
                    <li class="contact-us"><a href="#" title="">پیشنهاد ویژه</a></li>
                    <li class="contact-us"><a href="#" title="">شرایط و ضوابط</a></li>
                    <li class="contact-us"><a href="#" title="">همکاری با ما</a></li>

                </ul>
                {#                    <ul class="currencyBox">#}
                {#                        <li id="header_currancy" class="currency"> <a class="mainCurrency" href="#">Currency: USD</a>#}
                {#                          <div id="currancyBox" class="currency_detial"> <a href="#">£</a> <a href="#">€</a> <a href="#">$</a> </div>#}
                {#                        </li>#}
                {#                    </ul>#}
                <section class="header-bottom">
                    {#                    <div class="cart-block">#}
                    {#					<ul>#}
                    {#						<li>(2)</li>#}
                    {#						<li><a href="cart.html" title="Cart"><img title="Item" alt="Item" src="{% static 'images/item_icon.png' %}" /></a></li>#}
                    {#						<li>Item</li>#}
                    {#					</ul>#}
                    {#					<div id="minicart" class="remain_cart" style="display: none;">#}
                    {#						 <p class="empty">You have 2 items in your shopping cart.</p>#}
                    {#						 <ol>#}
                    {#						 	<li>#}
                    {#								<div class="img-block"><img src="{% static 'images/small_img.png' %}" title="" alt="" /></div>#}
                    {#								<div class="detail-block">#}
                    {#									<h4><a href="#" title="Htc Mobile 1120">Htc Mobile 1120</a></h4>#}
                    {#									<p>#}
                    {#										<strong>1</strong> x $900.00#}
                    {#									</p>#}
                    {#									<a href="#" title="Details">Details</a>#}
                    {#								</div>#}
                    {#								<div class="edit-delete-block">#}
                    {#									<a href="#" title="Edit"><img src="{% static 'images/edit_icon.png' %}" alt="Edit" title="Edit" /></a>#}
                    {#									<a href="#" title="Remove"><img src="{% static 'images/delete_item_btn.png' %}" alt="Remove" title="Remove" /></a>#}
                    {#								</div>#}
                    {#							</li>#}
                    {#							<li>#}
                    {#								<div class="img-block"><img src="{% static 'images/small_img.png' %}" title="" alt="" /></div>#}
                    {#								<div class="detail-block">#}
                    {#									<h4><a href="#" title="Htc Mobile 1120">Htc Mobile 1120</a></h4>#}
                    {#									<p>#}
                    {#										<strong>1</strong> x $900.00#}
                    {#									</p>#}
                    {#									<a href="#" title="Details">Details</a>#}
                    {#								</div>#}
                    {#								<div class="edit-delete-block">#}
                    {#									<a href="#" title="Edit"><img src="{% static 'images/edit_icon.png' %}" alt="Edit" title="Edit" /></a>#}
                    {#									<a href="#" title="Remove"><img src="{% static 'images/delete_item_btn.png' %}" alt="Remove" title="Remove" /></a>#}
                    {#								</div>#}
                    {#							</li>#}
                    {#							<li>#}
                    {#								<div class="total-block">Total:<span>$1,900.00</span></div>#}
                    {#								<a href="cart.html" title="Checkout" class="colors-btn">Checkout</a>#}
                    {#								<div class="clear"></div>#}
                    {#							</li>#}
                    {#						 </ol>#}
                    {#					</div>#}
                    {#				</div>#}
                    <div class="search-block">
                        <input type="text" value="جستجو"/>
                        <input type="submit" value="جستجو" title="جستجو"/>
                    </div>
                </section>
            </div>
            <h1 class="logo"><a href="index-2.html" title="Logo">
                <img title="Logo" alt="Logo" src="{% static 'images/logo.png' %}"/>
            </a></h1>
            <nav id="smoothmenu1" class="ddsmoothmenu mainMenu">
                <ul id="nav">
                    <li class="active"><a href="#" title="Home">صفحه اصلی</a></li>
                    <li class=""><a href="#" title="Home">محصولات</a>
                        <ul>
                            <li><a href="#">محصول شماره یک</a></li>
                            <li><a href="#">محصول شماره دو</a></li>
                            <li><a href="#">محصول شماره سه</a></li>
                            <li><a href="#">محصول شماره چهار</a>
                            <li><a href="#">محصول شماره پنج</a></li>
                        </ul>
                    </li>
                    <li class=""><a href="#" title="">وبلاگ</a></li>
                    <li class=""><a href="#" title="">سوالات متداول</a></li>
                    <li class=""><a href="#" title="">پشتیبانی</a></li>
                    <li class=""><a href="#" title="">درباره ما</a></li>
                    <li class=""><a href="#" title="">تماس با ما</a></li>
                </ul>
            </nav>

            <div class="mobMenu">
                <h1>
                    <span>Menu</span>
                    <a class="menuBox highlight" href="javascript:void(0);">ccc</a>
                    <span class="clearfix"></span>
                </h1>
                <div id="menuInnner" style="display:none;">
                    <ul class="accordion">
                        <li class="active"><a href="#" title="">صفحه اصلی</a></li>
                        <li class=""><a href="#" title="">محصولات</a>
                            <ul>
                                <li><a href="#">محصول شماره یک</a></li>
                                <li><a href="#">محصول شماره دو</a></li>
                                <li><a href="#">محصول شماره سه</a></li>
                                <li><a href="#">محصول شماره چهار</a>
                                <li><a href="#">محصول شماره پنج</a></li>
                            </ul>
                        </li>
                        <li class=""><a href="#" title="">وبلاگ</a></li>
                        <li class=""><a href="#" title="">سوالات متداول</a></li>
                        <li class=""><a href="#" title="">پشتیبانی</a></li>
                        <li class=""><a href="#" title="">درباره ما</a></li>
                        <li class=""><a href="#" title="">تماس با ما</a></li>
                    </ul>
                    <span class="clearfix"></span>
                    </ul>

                </div>
            </div>

        </header>
    </div>
    {% block content %}
    {% endblock %}
    <!--Footer Block-->
    <section class="footer-wrapper">
        <footer class="container">
            <div class="link-block">
                <ul>
                    <li class="link-title"><a href="#" title="">درباره ما</a></li>
                    <li><a href="about_us.html" title="">درباره ما</a></li>
                    <li><a href="#" title="">خدمات مشتری</a></li>
                    <li><a href="#" title="">حریم خصوصی</a></li>
                </ul>
                <ul>
                    <li class="link-title"><a href="#" title="CUSTOMER SERVICES">خدمات مشتری</a></li>
                    <li><a href="#" title="Shipping & Returns">حمل و نقل</a></li>
                    <li><a href="#" title="Secure Shopping">خرید مطمئن</a></li>
                    <li><a href="contact_us.html" title="Contact Us">تماس با ما</a></li>
                </ul>
                <ul>
                    <li class="link-title"><a href="#" title="TERMS & CONDITIONS">شرایط و ضوابط</a></li>
                    <li><a href="#" title="Press Room">مطبوعات</a></li>
                    <li><a href="#" title="Help">سوالات متداول</a></li>
                </ul>
                <ul>
                    <li class="link-title"><a href="#" title="ABOUTUS">فروشگاه ما</a></li>
                    <li class="aboutus-block">این متن آزمایشی می باشد.<a href="#" title="read more">ادامه...</a></li>
                </ul>
                <ul class="stay-connected-blcok">
                    <li class="link-title"><a href="#" title="">با ما در ارتباط باشید...</a></li>
                    <li>
                        <ul class="social-links">
                            <li><a data-tooltip="Like us on facebook" href="#"><img alt="facebook"
                                                                                    src="{% static 'images/facebook.png' %}"></a>
                            </li>
                            <li><a data-tooltip="Subscribe to RSS feed" href="#"><img alt="RSS"
                                                                                      src="{% static 'images/rss.png' %}"></a>
                            </li>
                            <li><a data-tooltip="Follow us on twitter" href="#"><img alt="twitter"
                                                                                     src="{% static 'images/twitter.png' %}"></a>
                            </li>
                            <li><a data-tooltip="Follow us on Dribbble" href="#"><img alt="dribbble"
                                                                                      src="{% static 'images/dribbble.png' %}"></a>
                            </li>
                            <li><a data-tooltip="Follow us on Youtube" href="#"><img alt="youtube"
                                                                                     src="{% static 'images/youtube.png' %}"></a>
                            </li>
                            <li><a data-tooltip="Follow us on skype" href="#"><img alt="skype"
                                                                                   src="{% static 'images/skype.png' %}"></a>
                            </li>
                        </ul>
                        <div class="payment-block"><img src="{% static 'images/payment.png' %}" alt="payment"></div>
                    </li>
                </ul>
            </div>
            <div class="footer-bottom-block">
                <ul class="bottom-links">
                    <li><a href="index-2.html" title="">صفحه اصلی</a></li>
                    <li><a href="#" title="">محصولات</a></li>
                    <li><a href="about_us.html" title="">پشتیبانی</a></li>
                    <li><a href="contact_us.html" title="">درباره ما</a></li>
                    <li><a href="contact_us.html" title="">تماس با ما</a></li>
                </ul>
                <p class="copyright-block">تمام حقوق برای این فروشگاه محفوظ است.</p>
            </div>
        </footer>
    </section>
</body>
</html>