{% extends 'fixed.html' %}
{% load staticfiles %}
{% block title %}
<title>SHOP</title>
{% endblock %}
 {% block content %}
            <!--Banner Block-->
            <section class="banner-wrapper">
              <div class="banner-block container">
                <div class="flexslider">
                  <ul class="slides">
                    <li><img title="Banner" alt="Banner" src="{% static 'images/banner1.jpg' %}" /></li>
                    <li><img title="Banner" alt="Banner" src="{% static 'images/banner2.jpg' %}" /></li>
                    <li><img title="Banner" alt="Banner" src="{% static 'images/banner3.jpg' %}" /></li>
                    <li><img title="Banner" alt="Banner" src="{% static 'images/banner4.jpg' %}" /></li>
                  </ul>
                </div>
                <ul class="banner-add">
                  <li class="add1"><a href="#" title=""><img title="add1" alt="add1" src="{% static 'images/static1.jpg' %}" /></a></li>
                  <li class="add2"><a href="#" title=""><img title="add2" alt="add2" src="{% static 'images/static2.jpg' %}" /></a></li>
                </ul>
              </div>
            </section>
            <!--Content Block-->
            <section class="content-wrapper">
              <div class="content-container container">
                <div class="heading-block">
                  <h1>محصولات ویژه</h1>
                </div>
                <div class="feature-block">
                  <ul id="mix" class="product-grid">
                    <li>
                      <div class="pro-img"><img title="Freature Product" alt="Freature Product" src="{% static 'images/default_img.png' %}' %}" /></div>
                      <div class="pro-hover-block">
                        <h4 class="pro-name">Htc One 1120</h4>
                        <div class="link-block"> 
                        <a href="#quick-view-container" class="quickllook inline" title="Quick View">Quick View</a> 
                        <a href="view.html" class="quickproLink" title="Link">Product link</a></div>
                        <div class="pro-price">$600.00</div>
                      </div>
                    </li>
                    <li>
                      <div class="pro-img"><img title="Freature Product" alt="Freature Product" src="{% static 'images/default_img.png' %}" /></div>
                      <div class="pro-hover-block">
                        <h4 class="pro-name">Htc One 1120</h4>
                        <div class="link-block"> 
                        <a href="#quick-view-container" class="quickllook inline" title="Quick View">Quick View</a> 
                        <a href="view.html" class="quickproLink" title="Link">Product link</a></div>
                        <div class="pro-price">$600.00</div>
                      </div>
                    </li>
                    <li>
                      <div class="pro-img"><img title="Freature Product" alt="Freature Product" src="{% static 'images/default_img.png' %}" /></div>
                      <div class="pro-hover-block">
                        <h4 class="pro-name">Htc One 1120</h4>
                        <div class="link-block"> 
                        <a href="#quick-view-container" class="quickllook inline" title="Quick View">Quick View</a> 
                        <a href="view.html" class="quickproLink" title="Link">Product link</a></div>
                        <div class="pro-price">$600.00</div>
                      </div>
                    </li>
                    <li>
                      <div class="pro-img"><img title="Freature Product" alt="Freature Product" src="{% static 'images/default_img.png' %}" /></div>
                      <div class="pro-hover-block">
                        <h4 class="pro-name">Htc One 1120</h4>
                        <div class="link-block"> 
                        <a href="#quick-view-container" class="quickllook inline" title="Quick View">Quick View</a> 
                        <a href="view.html" class="quickproLink" title="Link">Product link</a></div>
                        <div class="pro-price">$600.00</div>
                      </div>
                    </li>
                    <li>
                      <div class="pro-img"><img title="Freature Product" alt="Freature Product" src="{% static 'images/default_img.png' %}" /></div>
                      <div class="pro-hover-block">
                        <h4 class="pro-name">Htc One 1120</h4>
                        <div class="link-block"> 
                        <a href="#quick-view-container" class="quickllook inline" title="Quick View">Quick View</a> 
                        <a href="view.html" class="quickproLink" title="Link">Product link</a></div>
                        <div class="pro-price">$600.00</div>
                      </div>
                    </li>
                    <li>
                      <div class="pro-img"><img title="Freature Product" alt="Freature Product" src="{% static 'images/default_img.png' %}" /></div>
                      <div class="pro-hover-block">
                        <h4 class="pro-name">Htc One 1120</h4>
                        <div class="link-block"> 
                        <a href="#quick-view-container" class="quickllook inline" title="Quick View">Quick View</a> 
                        <a href="view.html" class="quickproLink" title="Link">Product link</a></div>
                        <div class="pro-price">$600.00</div>
                      </div>
                    </li>
                    <li>
                      <div class="pro-img"><img title="Freature Product" alt="Freature Product" src="{% static 'images/default_img.png' %}" /></div>
                      <div class="pro-hover-block">
                        <h4 class="pro-name">Htc One 1120</h4>
                        <div class="link-block"> 
                        <a href="#quick-view-container" class="quickllook inline" title="Quick View">Quick View</a> 
                        <a href="view.html" class="quickproLink" title="Link">Product link</a></div>
                        <div class="pro-price">$600.00</div>
                      </div>
                    </li>
                    <li>
                      <div class="pro-img"><img title="Freature Product" alt="Freature Product" src="{% static 'images/default_img.png' %}" /></div>
                      <div class="pro-hover-block">
                        <h4 class="pro-name">Htc One 1120</h4>
                        <div class="link-block"> 
                        <a href="#quick-view-container" class="quickllook inline" title="Quick View">Quick View</a> 
                        <a href="view.html" class="quickproLink" title="Link">Product link</a></div>
                        <div class="pro-price">$600.00</div>
                      </div>
                    </li>
      				<li>
                      <div class="pro-img"><img title="Freature Product" alt="Freature Product" src="{% static 'images/default_img.png' %}" /></div>
                      <div class="pro-hover-block">
                        <h4 class="pro-name">Htc One 1120</h4>
                        <div class="link-block"> 
                        <a href="#quick-view-container" class="quickllook inline" title="Quick View">Quick View</a> 
                        <a href="view.html" class="quickproLink" title="Link">Product link</a></div>
                        <div class="pro-price">$600.00</div>
                      </div>
                    </li>
                  </ul>
                </div>
                <div class="heading-block">
                  <h1>محصولات جدید</h1>
                </div>
                <div class="new-product-block">
                  <ul class="product-grid">
                    <li>
                      <div class="pro-img">
                        <img title="Freature Product" alt="Freature Product" src="{% static 'images/default_img.png' %}" />
                      </div>
                      <div class="pro-content">
                        <p>White Round Neck T-Shirt</p>
                      </div>
                      <div class="pro-price">$600.00</div>
                      <div class="pro-btn-block"> 
                      <a class="add-cart left" href="#" title="Add to Cart">Add to Cart</a> 
                      <a class="add-cart right quickCart inline" href="#quick-view-container" title="Quick View">Quick View</a> </div>
                      <div class="pro-link-block"> <a class="add-wishlist left" href="#" title="Add to wishlist">Add to wishlist</a> <a class="add-compare right" href="#" title="Add to Compare">Add to Compare</a>
                        <div class="clearfix"></div>
                      </div>
                    </li>
                    <li>
                      <div class="pro-img">
                        <img title="Freature Product" alt="Freature Product" src="{% static 'images/default_img.png' %}" />
                      </div>
                      <div class="pro-content">
                        <p>White Round Neck T-Shirt</p>
                      </div>
                      <div class="pro-price">$600.00</div>
                      <div class="pro-btn-block"> <a class="add-cart left" href="#" title="Add to Cart">Add to Cart</a> <a class="add-cart right quickCart inline" href="#quick-view-container" title="Quick View">Quick View</a> </div>
                      <div class="pro-link-block"> <a class="add-wishlist left" href="#" title="Add to wishlist">Add to wishlist</a> <a class="add-compare right" href="#" title="Add to Compare">Add to Compare</a>
                        <div class="clearfix"></div>
                      </div>
                    </li>
                    <li>
                      <div class="pro-img">
                        <img title="Freature Product" alt="Freature Product" src="{% static 'images/default_img.png' %}" />
                      </div>
                      <div class="pro-content">
                        <p>White Round Neck T-Shirt</p>
                      </div>
                      <div class="pro-price">$600.00</div>
                      <div class="pro-btn-block"> <a class="add-cart left" href="#" title="Add to Cart">Add to Cart</a> <a class="add-cart right quickCart inline" href="#quick-view-container" title="Quick View">Quick View</a> </div>
                      <div class="pro-link-block"> <a class="add-wishlist left" href="#" title="Add to wishlist">Add to wishlist</a> <a class="add-compare right" href="#" title="Add to Compare">Add to Compare</a>
                        <div class="clearfix"></div>
                      </div>
                    </li>
                    <li>
                      <div class="pro-img">
                        <img title="Freature Product" alt="Freature Product" src="{% static 'images/default_img.png' %}" />
                      </div>
                      <div class="pro-content">
                        <p>White Round Neck T-Shirt</p>
                      </div>
                      <div class="pro-price">$600.00</div>
                      <div class="pro-btn-block"> <a class="add-cart left" href="#" title="Add to Cart">Add to Cart</a> <a class="add-cart right quickCart inline" href="#quick-view-container" title="Quick View">Quick View</a> </div>
                      <div class="pro-link-block"> <a class="add-wishlist left" href="#" title="Add to wishlist">Add to wishlist</a> <a class="add-compare right" href="#" title="Add to Compare">Add to Compare</a>
                        <div class="clearfix"></div>
                      </div>
                    </li>
                  </ul>
                  <ul class="product-grid">
                    <li>
                      <div class="pro-img">
                        <img title="Freature Product" alt="Freature Product" src="{% static 'images/default_img.png' %}" />
                      </div>
                      <div class="pro-content">
                        <p>White Round Neck T-Shirt</p>
                      </div>
                      <div class="pro-price">$600.00</div>
                      <div class="pro-btn-block"> <a class="add-cart left" href="#" title="Add to Cart">Add to Cart</a> <a class="add-cart right quickCart inline" href="#quick-view-container" title="Quick View">Quick View</a> </div>
                      <div class="pro-link-block"> <a class="add-wishlist left" href="#" title="Add to wishlist">Add to wishlist</a> <a class="add-compare right" href="#" title="Add to Compare">Add to Compare</a>
                        <div class="clearfix"></div>
                      </div>
                    </li>
                    <li>
                      <div class="pro-img">
                        <img title="Freature Product" alt="Freature Product" src="{% static 'images/default_img.png' %}" />
                      </div>
                      <div class="pro-content">
                        <p>White Round Neck T-Shirt</p>
                      </div>
                      <div class="pro-price">$600.00</div>
                      <div class="pro-btn-block"> <a class="add-cart left" href="#" title="Add to Cart">Add to Cart</a> <a class="add-cart right quickCart inline" href="#quick-view-container" title="Quick View">Quick View</a> </div>
                      <div class="pro-link-block"> <a class="add-wishlist left" href="#" title="Add to wishlist">Add to wishlist</a> <a class="add-compare right" href="#" title="Add to Compare">Add to Compare</a>
                        <div class="clearfix"></div>
                      </div>
                    </li>
                    <li>
                      <div class="pro-img">
                        <img title="Freature Product" alt="Freature Product" src="{% static 'images/default_img.png' %}" />
                      </div>
                      <div class="pro-content">
                        <p>White Round Neck T-Shirt</p>
                      </div>
                      <div class="pro-price">$600.00</div>
                      <div class="pro-btn-block"> <a class="add-cart left" href="#" title="Add to Cart">Add to Cart</a> <a class="add-cart right quickCart inline" href="#quick-view-container" title="Quick View">Quick View</a> </div>
                      <div class="pro-link-block"> <a class="add-wishlist left" href="#" title="Add to wishlist">Add to wishlist</a> <a class="add-compare right" href="#" title="Add to Compare">Add to Compare</a>
                        <div class="clearfix"></div>
                      </div>
                    </li>
                    <li>
                      <div class="pro-img">
                        <img title="Freature Product" alt="Freature Product" src="{% static 'images/default_img.png' %}" />
                      </div>
                      <div class="pro-content">
                        <p>White Round Neck T-Shirt</p>
                      </div>
                      <div class="pro-price">$600.00</div>
                      <div class="pro-btn-block"> <a class="add-cart left" href="#" title="Add to Cart">Add to Cart</a> <a class="add-cart right quickCart inline" href="#quick-view-container" title="Quick View">Quick View</a> </div>
                      <div class="pro-link-block"> <a class="add-wishlist left" href="#" title="Add to wishlist">Add to wishlist</a> <a class="add-compare right" href="#" title="Add to Compare">Add to Compare</a>
                        <div class="clearfix"></div>
                      </div>
                    </li>
                  </ul>
                </div>
                <div class="news-letter-container">
                  <div class="free-shipping-block">
                    <h1>حمل و نقل رایگان</h1>
                    <p>هدیه تعطیلات از طرف ما به شما!</p>
                  </div>
                  <div class="news-letter-block">
                    <h2>در خبرنامه ما عضو شوید</h2>
                    <input type="text" value="Enter email address" title="" />
                    <input type="submit" value="ثبت" title="ثبت" />
                  </div>
                </div>
              </div>
            </section>
    </div> 
    <!--Quick view Block-->
<script type="text/javascript">
jQuery (function(){
	var tabContainers=jQuery('div.tabs > div');
	tabContainers.hide().filter(':first').show();
	jQuery('div.tabs ul.tabNavigation a').click(function(){
		tabContainers.hide();
		tabContainers.filter(this.hash).show();
		jQuery('div.tabs ul.tabNavigation a').removeClass('selected');
		jQuery(this).addClass('selected');
		return false;
		}).filter(':first').click();
	});
</script>
<article style="display:none;">
	<section id="quick-view-container" class="quick-view-wrapper">
	<div class="quick-view-container">
		<div class="quick-view-left">
			<h2>Sunglass RB3184</h2>
			<div class="product-img-box">
				<p class="product-image">
					<img src="{% static 'images/sale_icon_img.png" title="Sale" alt="Sale" class="sale-img' %}" />
					<a href="view.html" title="Image"><img src="{% static 'images/quick_view_img.png' %}" title="Image" alt="Image" /></a>				</p>
				<ul class="thum-img">
					<li><img  src="{% static 'images/quick_thum_img.png' %}" title="" alt="" /></li>
					<li><img  src="{% static 'images/quick_thum_img.png' %}" title="" alt="" /></li>
				</ul>
			</div>
		</div>
		<div class="quick-view-right tabs">
			<ul class="tab-block tabNavigation">
				<li><a class="selected" title="Overview" href="#tabDetail">Overview</a></li>
				<li><a title="Description" href="#tabDes">Description</a></li>
			</ul>
			<div id="tabDetail" class="tabDetail">
            	<div class="first-review">Be the first to review this product</div>
			<div class="price-box">
				<span class="price">$600.00</span>			</div>
			<div class="availability">In stock</div>
			<div class="color-size-block">
				<div class="label-row">
					<label><em>*</em> color</label>
					<span class="required">* Required Fields</span>				</div>
				<div class="select-row">
					<select><option>-- Please Select --</option></select>
				</div>
				<div class="label-row">
					<label><em>*</em> size</label>
				</div>
				<div class="select-row">
					<select><option>-- Please Select --</option></select>
				</div>
			</div>
			<div class="add-to-cart-box">
				<span class="qty-box">
					<label for="qty">Qty:</label>
					<a class="prev" title="" href="#"><img alt="" title="" src="{% static 'images/qty_prev.png' %}"></a>
					<input type="text" name="qty" class="input-text qty" id="qty" maxlength="12" value="1">
					<a class="next" title="" href="#"><img alt="" title="" src="{% static 'images/qty_next.png' %}"></a>				</span>
				<button title="Add to Cart" class="form-button"><span>Add to Cart</span></button>
			</div>
            </div>
            <div id="tabDes" class="tabDes">
            	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas erat odio, suscipit eu porta et, ultricies id sapien. Quisque posuere odio eget lectus suscipit sodales. Sed consequat, leo ut varius scelerisque, augue massa tincidunt est, et tincidunt enim tortor a metus. In sit amet diam in tellus tincidunt mollis. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Morbi hendrerit eleifend tortor, a dapibus tellus suscipit porta. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. In mollis adipiscing mi et volutpat. Aliquam vitae dui nunc. Nulla ac ante eu massa dictum volutpat. Sed mauris sem, posuere sit amet pretium consectetur, ullamcorper vel orci. Aenean feugiat luctus lectus ac hendrerit. Fusce pulvinar, mauris eget sodales suscipit, diam neque condimentum lectus, id imperdiet felis turpis egestas neque. In aliquet orci eget nisl sollicitudin sed gravida tortor commodo</p>
            </div>
		</div>
		<div class="clearfix"></div>
	</div>
</section>
</article>       
{% endblock %}